
@{
    ViewBag.Title = "ThankYou";
}

<h2>Thank You, @ViewBag.UserFullName.</h2>
<h3>Your Order Number is @ViewBag.WorkOrderID.</h3> <br />
<h5>We will contact you once your compound arrives in Singapore and again when we schedule testing for this work order.</h5>  
<h5>Feel free to use the "My Orders" section to track the status of your order after hearing from us.</h5>

