
@{
    ViewBag.Title = "Assay Test Details";
}

<h2>@ViewBag.Title</h2>

@foreach (var Assay in ViewBag.Assays)
{
    if (ViewBag.AssayID == Assay.AssayID)
    {
    <h4>@ViewBag.Desc</h4>
        <table style="width: 100%">
        <tr>
            <th>Test Name</th>
            <th>Approx. Cost</th>
            <th>Required</th>
            <th>Setup Time (min)</th>
        </tr>
        @foreach (var AssayTest in ViewBag.AssayTests)
        {
            if (AssayTest.AssayID == ViewBag.AssayID)
            {
                foreach (var Test in ViewBag.Tests)
                {
                    if (AssayTest.TestID == Test.TestID)
                    {
                        <tr>
                            <td>@Test.Desc</td>
                            <td>$@Math.Round(Test.Quote, 2)</td>
                            <td>@{
                                if (Test.Required == true) { <i style="color: mediumspringgreen" class="fa fa-check-circle-o"></i> }
                                else
                                { <i style="color: crimson"class="fa fa-times-circle-o"></i> } }</td>
                            <td>@Test.SetupTimeMins</td>
                        </tr>
                    }
                }
            }
        }
        </table>
    }
}