body {
    font-family: 'Exo 2', sans-serif;
}
a {
    text-decoration: none !important;
}

.jumbo-header {
    color: #fff;
}

.about-us-img {
    background-image: url("https://images.unsplash.com/photo-1509044172501-328ee356ed09?auto=format&fit=crop&w=1500&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    height: 300px;
    width: 100%;
}

.custom-nav {
    background-color: rgba(209, 225, 249,0.9);
    color: #555;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.49);
}
.tr-desc {
    color: rgba(169, 185, 249,1);
    font-size: 20px;
}
.tr {
    margin: 10px 0;
}

.cta {
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 3px;
}

.cta:hover, .cta:active {
    background-color: rgba(240,240,240,0.5);
    border: 2px solid #ccc;
}

.quote {
    font-size: 24px !important;
    font-style: italic !important;
}

.card-set {
    display: flex;
    justify-content: space-between;
}

.flex-card {
    flex: 1;
    padding: 10px;
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 5px;
}

    .flex-card:hover {
        box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
    }

textarea {
    max-width: none;
}

.question-section {
    margin-bottom: 20px;
}

.question {
    font-size: 20px;
}

.answer {
    color: rgba(0,0,0,0.55);
}

.answer-details {
    color: rgba(0,0,0,0.35);
    font-style: italic;
}

.contact-form {
    margin: 0 15px 0 15px;
}

/* Bootstrap overrids */
.row {
    margin: 50px 0px;
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.25)), url("https://images.unsplash.com/photo-1486825586573-7131f7991bdd?auto=format&fit=crop&w=334&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    background-position: center;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: greyscale(50%);
}

.full-width {
    margin: 30px 0px !important;
    border-radius: 2px !important;
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
    color: #333 !important;
}

.breadcrumb {
    margin-top: 10px;
    background-color: transparent;
}

.status-bar {
    width: 150px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.status-bar-filler {
    background: linear-gradient(to right, rgba(155, 170, 249,0.45), rgba(169, 185, 249,1));
    height: 26px;
    z-index: 1;
    border-radius: 0px;
    border: 0px solid #fff;
    min-width: 10px;
}
.order-title {
    font-weight: 800;
}
.compound {
    margin: 10px 0px;
}
.compound-name {
    font-size: 24px;
    font-weight: 700;
    color: rgba(169, 185, 249,1);
}
.compound-date {
    font-style: italic;
    font-size: 11px;
}
.compound-appareance {
}

.outline {
    border: 2px solid rgba(169, 185, 249,1);
    border-radius: 3px;
}






/* bootstrap 4 cards */
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}


    .card > hr {
        margin-right: 0;
        margin-left: 0
    }

    .card > .list-group:first-child .list-group-item:first-child {
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem
    }

    .card > .list-group:last-child .list-group-item:last-child {
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem
    }

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-title {
    margin-bottom: .75rem
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link + .card-link {
    margin-left: 1.25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125)
}

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
    }

    .card-header + .list-group .list-group-item:first-child {
        border-top: 0
    }

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125)
}

    .card-footer:last-child {
        border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
    }

.card-header-tabs {
    margin-right: -.625rem;
    margin-bottom: -.75rem;
    margin-left: -.625rem;
    border-bottom: 0
}

.card-header-pills {
    margin-right: -.625rem;
    margin-left: -.625rem
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
}

.card-img {
    width: 100%;
    border-radius: calc(.25rem - 1px)
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

    .card-deck .card {
        margin-bottom: 15px
    }

@media (min-width:576px) {
    .card-deck {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px
    }

        .card-deck .card {
            display: -ms-flexbox;
            display: flex;
            -ms-flex: 1 0 0%;
            flex: 1 0 0%;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-right: 15px;
            margin-bottom: 0;
            margin-left: 15px
        }
}

.card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column
}

    .card-group .card {
        margin-bottom: 15px
    }

@media (min-width:576px) {
    .card-group {
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

        .card-group .card {
            -ms-flex: 1 0 0%;
            flex: 1 0 0%;
            margin-bottom: 0
        }

            .card-group .card + .card {
                margin-left: 0;
                border-left: 0
            }

            .card-group .card:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0
            }

                .card-group .card:first-child .card-img-top {
                    border-top-right-radius: 0
                }

                .card-group .card:first-child .card-img-bottom {
                    border-bottom-right-radius: 0
                }

            .card-group .card:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0
            }

                .card-group .card:last-child .card-img-top {
                    border-top-left-radius: 0
                }

                .card-group .card:last-child .card-img-bottom {
                    border-bottom-left-radius: 0
                }

            .card-group .card:only-child {
                border-radius: .25rem
            }

                .card-group .card:only-child .card-img-top {
                    border-top-left-radius: .25rem;
                    border-top-right-radius: .25rem
                }

                .card-group .card:only-child .card-img-bottom {
                    border-bottom-right-radius: .25rem;
                    border-bottom-left-radius: .25rem
                }

            .card-group .card:not(:first-child):not(:last-child):not(:only-child) {
                border-radius: 0
            }

                .card-group .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom, .card-group .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top {
                    border-radius: 0
                }
}

.card-columns .card {
    margin-bottom: .75rem
}

@media (min-width:576px) {
    .card-columns {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem
    }

        .card-columns .card {
            display: inline-block;
            width: 100%
        }
}