
@{
    ViewBag.Title = "Forum";
}

<h2>@ViewBag.Title</h2>
<h3>Questions</h3>
<div class="row">

</div>
<h3>Post your own Question</h3>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "Questions"))
            {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @* Textarea box for the actual question *@
                <div class="form-group">
                    @Html.Label("Question", htmlAttributes: new { @class = "control-label" })
                    <div class="">
                        @Html.TextArea("QuestionDescription", new { @class = "form-control" })
                        @*@Html.ValidationMessageFor(model => model.QuestionDescription, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>



